<a href="https://colab.research.google.com/github/vishxl/Book-Price-Prediction/blob/master/CleaningBookData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import requests, zipfile, io

r = requests.get( 'https://github.com/vishxl/Book-Price-Prediction/blob/master/Data.zip?raw=true' ) 
z = zipfile.ZipFile(io.BytesIO(r.content)) 
z.extractall()

In [28]:
import pandas as pd
import numpy as np

In [29]:
train = pd.read_excel('Participants_Data/Data_Train.xlsx')
test = pd.read_excel('Participants_Data/Data_Test.xlsx')

sub = pd.read_excel('Participants_Data/Sample_Submission.xlsx')

In [30]:
train.head().T

                                                              0  ...                                                  4
Title                       The Prisoner's Gold (The Hunters 3)  ...         LIFE 70 Years of Extraordinary Photography
Author                                           Chris Kuzneski  ...                                    Editors of Life
Edition                                 Paperback,– 10 Mar 2016  ...                            Hardcover,– 10 Oct 2006
Reviews                                      4.0 out of 5 stars  ...                                 5.0 out of 5 stars
Ratings                                      8 customer reviews  ...                                  1 customer review
Synopsis      THE HUNTERS return in their third brilliant no...  ...  For seven decades, "Life" has been thrilling t...
Genre                                Action & Adventure (Books)  ...                              Photography Textbooks
BookCategory                                 Action & Adventure  ...                           Arts, Film & Photography
Price                                                       220  ...                                             965.62

[9 rows x 5 columns]

In [31]:
print(train.Title)

0                     The Prisoner's Gold (The Hunters 3)
1                      Guru Dutt: A Tragedy in Three Acts
2                            Leviathan (Penguin Classics)
3                      A Pocket Full of Rye (Miss Marple)
4              LIFE 70 Years of Extraordinary Photography
                              ...
6232    Humans: A Brief History of How We F*cked It Al...
6233                                          The Chemist
6234    The Duke And I: Number 1 in series (Bridgerton...
6235                         Frostfire (Kanin Chronicles)
6236                          The First Order (Sam Capra)
Name: Title, Length: 6237, dtype: object

In [32]:
#combining test and train for cleaning


combined = pd.concat([train, test], sort=False)
combined.reset_index(drop=True, inplace=True)

In [33]:
combined.index

RangeIndex(start=0, stop=7797, step=1)

In [34]:
combined.values

array([["The Prisoner's Gold (The Hunters 3)", 'Chris Kuzneski',
        'Paperback,– 10 Mar 2016', ..., 'Action & Adventure (Books)',
        'Action & Adventure', 220.0],
       ['Guru Dutt: A Tragedy in Three Acts', 'Arun Khopkar',
        'Paperback,– 7 Nov 2012', ..., 'Cinema & Broadcast (Books)',
        'Biographies, Diaries & True Accounts', 202.93],
       ['Leviathan (Penguin Classics)', 'Thomas Hobbes',
        'Paperback,– 25 Feb 1982', ..., 'International Relations',
        'Humour', 299.0],
       ...,
       ['The Kite Runner Graphic Novel', 'Khaled Hosseini',
        'Paperback,– 6 Sep 2011', ..., 'Humour (Books)', 'Humour', nan],
       ['Panzer Leader (Penguin World War II Collection)',
        'Heinz Guderian', 'Paperback,– 22 Sep 2009', ...,
        'United States History', 'Biographies, Diaries & True Accounts',
        nan],
       ['Complete Spanish Step-by-Step', 'Barbara Bregstein',
        'Paperback,– 16 Sep 2016', ..., 'Dictionaries',
        'Language, Linguistics & Writing', nan]], dtype=object)

In [35]:
combined.shape

(7797, 9)

In [36]:
combined.info() #confirms no missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7797 entries, 0 to 7796
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         7797 non-null   object
 1   Author        7797 non-null   object
 2   Edition       7797 non-null   object
 3   Reviews       7797 non-null   object
 4   Ratings       7797 non-null   object
 5   Synopsis      7797 non-null   object
 6   Genre         7797 non-null   object
 7   BookCategory  7797 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 548.4+ KB

In [37]:
combined['Reviews_values'] = combined['Reviews'].str.split(' ').str.get(0)

In [38]:
combined['Rating_values'] = train['Ratings'].str.split(' ').str.get(0)

In [39]:
combined.Edition

0       Paperback,– 10 Mar 2016
1        Paperback,– 7 Nov 2012
2       Paperback,– 25 Feb 1982
3        Paperback,– 5 Oct 2017
4       Hardcover,– 10 Oct 2006
                 ...
7792    Paperback,– 14 Apr 2011
7793     Paperback,– 8 May 2013
7794     Paperback,– 6 Sep 2011
7795    Paperback,– 22 Sep 2009
7796    Paperback,– 16 Sep 2016
Name: Edition, Length: 7797, dtype: object

In [40]:
combined[['Issue_type','Issue_date']] = combined['Edition'].str.split(',– ',expand=True)

In [51]:
combined['Issue_month'] = combined.Issue_date.str[-8:-5]
combined['Issue_year'] = combined.Issue_date.str[-4:]

In [53]:
combined['Genre'] = combined['Genre'].str.replace(r"\(.*\)","")  #removing '(Books)' from Genre

In [59]:
#combined.head(50)

In [57]:
combined.describe(include = 'all').head(2)

       Title Author Edition  ... Issue_date Issue_month Issue_year
count   7797   7797    7797  ...       7797        7797       7797
unique  6787   4372    3882  ...       3332          25         67

[2 rows x 15 columns]

In [44]:
Book_Type = train.Edition.str.split(',').str.get(0)
#Book_Type = pd.Categorical('BookType').unique

In [58]:
test.describe()

                                                    Title  ...        BookCategory
count                                                1560  ...                1560
unique                                               1521  ...                  11
top     Doing Justice: A Prosecutor’s Thoughts on Crim...  ...  Action & Adventure
freq                                                    3  ...                 218

[4 rows x 8 columns]

In [ ]:
#Dropping Columns

df_modified.drop(['Edition','Reviews','Ratings'], axis=1, inplace=True)

In [ ]:

#converting into categorical data

df_modified["Book_Type"] = df_modified["Book_Type"].astype('category')
df_modified.dtypes

In [ ]:

#label encoding

df_modified['Book_Type_Cat'] = df_modified["Book_Type"].cat.codes