<a href="https://colab.research.google.com/github/vishxl/Book-Price-Prediction/blob/master/Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Data.zip to Data.zip

In [2]:
!unzip Data.zip

Archive:  Data.zip
  inflating: Participants_Data/Data_Test.xlsx
  inflating: Participants_Data/Data_Train.xlsx
  inflating: Participants_Data/Sample_Submission.xlsx

In [3]:
import pandas as pd

In [4]:
train = pd.read_excel('Participants_Data/Data_Train.xlsx')
test = pd.read_excel('Participants_Data/Data_Test.xlsx')
sub = pd.read_excel('Participants_Data/Sample_Submission.xlsx')

In [5]:
train.head().T

                                                              0  ...                                                  4
Title                       The Prisoner's Gold (The Hunters 3)  ...         LIFE 70 Years of Extraordinary Photography
Author                                           Chris Kuzneski  ...                                    Editors of Life
Edition                                 Paperback,– 10 Mar 2016  ...                            Hardcover,– 10 Oct 2006
Reviews                                      4.0 out of 5 stars  ...                                 5.0 out of 5 stars
Ratings                                      8 customer reviews  ...                                  1 customer review
Synopsis      THE HUNTERS return in their third brilliant no...  ...  For seven decades, "Life" has been thrilling t...
Genre                                Action & Adventure (Books)  ...                              Photography Textbooks
BookCategory                                 Action & Adventure  ...                           Arts, Film & Photography
Price                                                       220  ...                                             965.62

[9 rows x 5 columns]

In [6]:
print(train.Title)

0                     The Prisoner's Gold (The Hunters 3)
1                      Guru Dutt: A Tragedy in Three Acts
2                            Leviathan (Penguin Classics)
3                      A Pocket Full of Rye (Miss Marple)
4              LIFE 70 Years of Extraordinary Photography
                              ...
6232    Humans: A Brief History of How We F*cked It Al...
6233                                          The Chemist
6234    The Duke And I: Number 1 in series (Bridgerton...
6235                         Frostfire (Kanin Chronicles)
6236                          The First Order (Sam Capra)
Name: Title, Length: 6237, dtype: object

In [7]:
print(train['Title'].isnull())

0       False
1       False
2       False
3       False
4       False
        ...
6232    False
6233    False
6234    False
6235    False
6236    False
Name: Title, Length: 6237, dtype: bool

In [8]:
train.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [9]:
train.index

RangeIndex(start=0, stop=6237, step=1)

In [10]:
train['Edition'].index

RangeIndex(start=0, stop=6237, step=1)

In [11]:
train.values

array([["The Prisoner's Gold (The Hunters 3)", 'Chris Kuzneski',
        'Paperback,– 10 Mar 2016', ..., 'Action & Adventure (Books)',
        'Action & Adventure', 220.0],
       ['Guru Dutt: A Tragedy in Three Acts', 'Arun Khopkar',
        'Paperback,– 7 Nov 2012', ..., 'Cinema & Broadcast (Books)',
        'Biographies, Diaries & True Accounts', 202.93],
       ['Leviathan (Penguin Classics)', 'Thomas Hobbes',
        'Paperback,– 25 Feb 1982', ..., 'International Relations',
        'Humour', 299.0],
       ...,
       ['The Duke And I: Number 1 in series (Bridgerton Family)',
        'Julia Quinn', 'Paperback,– 8 Jun 2006', ..., 'Romance (Books)',
        'Romance', 399.0],
       ['Frostfire (Kanin Chronicles)', 'Amanda Hocking',
        'Paperback,– 15 Jan 2015', ..., 'Action & Adventure (Books)',
        'Action & Adventure', 319.0],
       ['The First Order (Sam Capra)', 'Jeff Abbott',
        'Paperback,– 21 Dec 2016', ..., 'Action & Adventure (Books)',
        'Action & Adventure', 452.0]], dtype=object)

In [12]:
type(train)

pandas.core.frame.DataFrame

In [13]:
train.shape

(6237, 9)

In [14]:
train.info() #confirms no missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   object
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 438.7+ KB

In [15]:
edition_df = train['Edition'] #converting edition column to a dataframe for further processing

In [16]:
edition_df.head()

0    Paperback,– 10 Mar 2016
1     Paperback,– 7 Nov 2012
2    Paperback,– 25 Feb 1982
3     Paperback,– 5 Oct 2017
4    Hardcover,– 10 Oct 2006
Name: Edition, dtype: object

In [17]:
type(edition_df)

pandas.core.series.Series

In [18]:
rating_rev_df = train[['Reviews','Ratings']]

In [19]:
rating_rev_df.head()

              Reviews              Ratings
0  4.0 out of 5 stars   8 customer reviews
1  3.9 out of 5 stars  14 customer reviews
2  4.8 out of 5 stars   6 customer reviews
3  4.1 out of 5 stars  13 customer reviews
4  5.0 out of 5 stars    1 customer review

In [20]:
  train.loc[4]

Title                  LIFE 70 Years of Extraordinary Photography
Author                                            Editors of Life
Edition                                   Hardcover,– 10 Oct 2006
Reviews                                        5.0 out of 5 stars
Ratings                                         1 customer review
Synopsis        For seven decades, "Life" has been thrilling t...
Genre                                       Photography Textbooks
BookCategory                             Arts, Film & Photography
Price                                                      965.62
Name: 4, dtype: object

In [21]:
train.loc[[2,5]] #iloc

                                               Title  ...  Price
2                       Leviathan (Penguin Classics)  ...  299.0
5  ChiRunning: A Revolutionary Approach to Effort...  ...  900.0

[2 rows x 9 columns]

In [22]:
subset = train.loc[:3, ['Synopsis','Genre'] ]

In [23]:
subset.head()

                                            Synopsis                         Genre
0  THE HUNTERS return in their third brilliant no...    Action & Adventure (Books)
1  A layered portrait of a troubled genius for wh...    Cinema & Broadcast (Books)
2  "During the time men live without a common Pow...       International Relations
3  A handful of grain is found in the pocket of a...  Contemporary Fiction (Books)

In [24]:
train.loc[train['Reviews']=='4.0 out of 5 stars']

                                                  Title  ...   Price
0                   The Prisoner's Gold (The Hunters 3)  ...   220.0
9            The Iron King (The Accursed Kings, Book 1)  ...   695.0
25    Stealth of Nations: The Global Rise of the Inf...  ...   621.0
30                          The Hit (Will Robie series)  ...   340.0
62                            Brave New World Revisited  ...   247.0
...                                                 ...  ...     ...
6155                         KPS Gill the Paramount Cop  ...   207.0
6170  Last Bus to Woodstock (Inspector Morse Mysteries)  ...   314.0
6182                                  The Tall Stranger  ...   284.0
6194                        English Grammar For Dummies  ...  1107.0
6211                    Redemption (Amos Decker series)  ...   479.0

[570 rows x 9 columns]

In [25]:
train.loc[train['Reviews']=='4.0 out of 5 stars', ['Reviews','Ratings']]

                 Reviews              Ratings
0     4.0 out of 5 stars   8 customer reviews
9     4.0 out of 5 stars    1 customer review
25    4.0 out of 5 stars    1 customer review
30    4.0 out of 5 stars  32 customer reviews
62    4.0 out of 5 stars   4 customer reviews
...                  ...                  ...
6155  4.0 out of 5 stars  33 customer reviews
6170  4.0 out of 5 stars   2 customer reviews
6182  4.0 out of 5 stars    1 customer review
6194  4.0 out of 5 stars    1 customer review
6211  4.0 out of 5 stars  12 customer reviews

[570 rows x 2 columns]

In [26]:
train.loc[(train['Reviews']=='4.0 out of 5 stars') & (train['Ratings']=='1 customer review'), ['Synopsis']]

                                               Synopsis
9     ‘This is the original game of thrones’ George ...
25    • Thousands of Africans head to China each yea...
124   Whether you're a school or university student ...
158   There are approximately six thousand languages...
266   How to be prepared no matter where running mig...
...                                                 ...
6095  A Wall Street Journal Best Book of the Year\nT...
6110  This title is the next installment to the best...
6133  WINNER OF A 2018 TEEN CHOICE AWARD FOR BEST AN...
6182  Wagon trains heading west were forced to defen...
6194  Get the last word on English grammar Grasping ...

[203 rows x 1 columns]